[Unit]
Description=Prometheus textfile collector for ZFS snapshots

[Timer]
OnCalendar=*:*:00/15
AccuracySec=5sec
Persistent=true

[Install]
WantedBy=multi-user.target
